@media (min-width: 769px){

#mobileMenu, #homeSliderSection{
    display: none;
}

}

@media (max-width: 768px){

#desktopMenu, #wrapper{
    display: none;
}
img.rock-img{
    display: none;
}
.dozer-bg{
    display: none;
}
.content-body {
    margin-top: 110px;
}
#quoteBlock {
    padding: 20px 0;
}
a.quote-btn {
    padding: 0.6rem 1.2rem;
}
.get-quote {
    justify-content: end;
}
#memProducts {
    padding: 20px 0;
}
.testimonial-block {
    flex-direction: column;
}
.testimonial-img img {
    margin-bottom: 1rem;
}
.testimonial-msg {
    font-size: 14px;
}
span.title-yellow, span.title-black {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.section-padd {
   padding: 20px 0;
}
.copyright {
    text-align: center;
    padding: 15px 0;
}
.footer-li {
    font-weight: 400;
    font-size: 14px;
}
#homeSlider img {
    height: 250px;
}

}



@media only screen and (min-width: 769px){

.recent-mobile{
    display: none;
}


}


@media only screen and (max-width: 768px){
    #homeSliderSection {
    padding: 15px 0;
}
    img.top-logo {
    height: 70px;
}
    .quote-text {
    margin-bottom: 10px;
    font-size: 1.4rem;
}
    .icon-block {
    flex-direction: column;
    align-items: center;
    border: none;
}
    .icon-txt {
    display: none;
}
    .icon-title {
    text-align: center;
    font-size: 1rem;
}
    .icon-img {
    text-align: center;        
}
    .icon-img img {
    width: 80px;
    height: 80px;
    margin: 0;
    margin-bottom: 10px;
}
	#homeIcons {
        margin: 0 0 30px;
        padding: 30px 0 15px;
    }
    .home-icon {
        margin-bottom: 15px;
    }
    .section-title {
    font-size: 1.4rem;
    margin-top: 20px;
    text-align: center;
}
    #categorySliderSection button.owl-prev {
    left: -15px;
}
#categorySliderSection button.owl-next {
    right: -15px;
}
    .offer-home-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}
    .product-block img {
    height: 175px;
}
    .sale-price {
    font-size: 1rem;
}
.arrival-block {
    margin-bottom: 10px;
}
    .subscribe-form {
    padding: 20px 0 30px;
}
    .subscribe-form input {
    width: 60%;
}
    #partners {
    padding: 20px 0;
}
#preFooter {
    padding: 40px 0 35px;
}
    #topProductsTab {
    padding: 0;
}
#cartTable td {
    padding: 5px 0;
}
.your-order-box {
    margin-bottom: 25px;
}

.second .footer-li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.second, .first,.third{
    text-align: center;
    margin-bottom: 1.2rem;
}

}

@media (max-width: 500px){

    .testimonial-icon .fa{
        display: none;
    }

}